@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

#logo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  color: #003363;
}

.navbar-nav a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #004e84 !important;
}

#title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 84px;
  /* or 124% */
  display: flex;
  align-items: center;
  text-align: center;
  /* GS Brand / White */
  color: #ffffff;
}

#base {
  padding: 8px 24px;
  gap: 8px;
  background: #12c6ff;
  border-radius: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  color: #ffffff;
}

#landing {
  background: linear-gradient(rgba(0, 34, 65, 0.61), rgba(0, 34, 65, 0.61)),
    url("./images/landing.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#text-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  color: #12c6ff;
}

#about p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #ffffff;
}

#about {
  background: #003363;
}

#pre-footer {
  background: #003363;
}

#follow {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  text-align: center;
  color: #ffffff;
}

.social {
  width: 50px;
  height: 50px;
  background: #d1d1d6;
  border-radius: 100%;
}

footer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  /* identical to box height, or 185% */
  text-align: center;
  color: #003363;
}
