@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

#bg-nav {
  background: #765c3d;
}

.navbar-nav a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #f2d2ae !important;
}

#landing {
  background: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)),
    url("./images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#landing h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  /* or 112% */

  display: flex;
  align-items: flex-end;
  letter-spacing: -0.02em;

  color: #ffffff;
}

#landing p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */
  color: #ffffff;
}

#landing button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  text-align: center;
  /* Button/Text/button-primary-text */
  color: #ffffff;
  width: 180px;
  height: 48px;
  background: #b59066;
  border-radius: 999px;
  border: none;
}

#gallery h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */
  justify-content: center;
  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #765c3d;
}

#gallery p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #765c3d;
}

#contact-page h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;

  color: #765c3d;
}

#contact-page p {
  color: #765c3d;
}

#contact-page label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #b59066;
}

#contact-page button {
  padding: 12px 32px;
  gap: 8px;

  width: 140px;
  height: 48px;

  background: #b59066;
  border-radius: 999px;
}

#contact-page {
  background: #fff2e4;
}

#contact-page form input {
  border-color: #b59066;
}

#contact-page form textarea {
  border-color: #b59066;
}

#footer {
  background: #b59066;
}
footer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;

  color: #fff2e4;
}
